body {background-color: aquamarine;
}
h2{background-color: chartreuse;font-size: 30px;}
.estilo4{font-style: oblique;font-size: 25px;}
#titulo1{font-size: 70px;font-family: Georgia, 'Times New Roman', Times, serif;}
#estilo2{color: blue;}
.logo{width: 200px;}}
*{flex-direction: column-reverse;}